<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>977448159531-q7uaga6fq9les4b01tn8kbc1olpvjtmn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.977448159531-q7uaga6fq9les4b01tn8kbc1olpvjtmn</string>
	<key>API_KEY</key>
	<string>AIzaSyBh4Wlp5bRuGZbGnwSnxj9OgTKd7WJ-PL8</string>
	<key>GCM_SENDER_ID</key>
	<string>977448159531</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bestFlutterUiTemplates</string>
	<key>PROJECT_ID</key>
	<string>ecoar-2c526</string>
	<key>STORAGE_BUCKET</key>
	<string>ecoar-2c526.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:977448159531:ios:47bfd559d696d75cfb1d6e</string>
</dict>
</plist>